@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
[class^="col"]{
	height: 700px;
}
.logo{
	width: 100%;
	height: 100px;
	position: relative;
}
.logo a img{
	width: 120px;
	height: 100px;
	position: relative;
	top:-18px;
	transition: all 1s;
}
.logo a img:hover{
	transform: rotateX(360deg);
}
.logo a span{
	color: goldenrod;
	font-size: 50px;
}
.logo a{
	position: absolute;
	left: 10%;
	text-decoration: none;
}
.logo>span input{
	border: 1px solid #F3AD00;
	width:300px;
	height: 50px;
	font-size: 30px;
	color: blueviolet;
	position:relative;
	top: 5px;
}
.logo>span span{
	width: 100px;
	height: 51px;
	display: inline-block;
	line-height: 51px;
	text-align: center;
	background-color: red;
	font-size: 25px;
	color: white;
	transition: all 0.5s;
	position: relative;
	top: 4px;
	
}
.logo>span{
	position: absolute;
	right:5%;
}
.logo>span span:hover{
	background-color: aqua;
	color:black;
}
		.box{
			width: 100%;
			height:100%;
			display: flex;
			position: relative;
			top: 20px;
		}
		.big{
			width: 100%px;
			height: 500px;
			position: relative;
			
		}
		.big img{
			transition: all 0.5s;
		}
		.small{
			margin-top: 5px;
		}
		.small img{
			width: 18%;
			height: 90px;
			transition: all 0.5s;
			margin-left: 6px;
			box-sizing: border-box;
		}
		.move{
			width: 200px;
			height: 200px;
			background-color: aqua;
			opacity: 0.5;
			position: absolute;
			left: 0px;
			top: 0px;
			display:none;
			transition: 0.1s;
			
		}
		.small .current{
			border: 3px solid #07EBD9;
			transition: all 0.3s;
		}
	.box2{
		width: 100%;
		height: 100%;
		position: relative;
	}
		.show{
			width:100%;
			height: 94%;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 20px;
			z-index: -1;
			display: none;
		}
		.show img{
			width: 1920px;
			height: 1080px;
			position: absolute;
			display: none;
		}
		.box3{
			width: 100px;
			height: 500px;
			overflow: hidden;
			position: relative;
			border: 5px solid #72E2F4;
			margin: auto;
		}
		.box3 .uls{
			width: 100%;
			height: 1000px;
			position: absolute;
		}
		.box3 .uls li{
			width: 100%;
			height: 98px;
			margin-top: 1px;
		}
		.btn{
			width: 100px;
			display: flex;
			margin: auto;
		}
		.btn1{
			width: 50px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 40px;
			background-color: gray;
			cursor: pointer;
			color: white;
		}
		.btn2{
			width: 50px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 40px;
			background-color: gray;
			cursor: pointer;
			color: white;
		}
.p1{
	color: goldenrod;
}
.labour{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.labour1 {
	width: 90%;
	height: 15%;
	background-color:#DDD8D8;
	padding: 20px;
	opacity: 0.8;
}
.labour1 .sp1{
	color: #A29D9E;
	font-size: 18px;
}
.labour1 .sp2{
	color: red;
	font-size: 25px;
}
.labour1 .sp3{
	color: #312F2F;
	font-size: 19px;
}
.labour2{
	width: 90%;
	height: 10%;
	padding: 20px;
}
.labour2 .sp3{
	color: #A29D9E;
	font-size: 18px;
}
.labour2 select{
	border: 1px solid #FCF306;
}
.labour2 .sp4{
	color: red;
	font-size: 10px;
}
.labour3{
	width: 90%;
	height: 30%;
	border-bottom: 1px solid #CBC2C2;
	border-top: 1px solid #D3CECF;
	padding-top: 5px;
}
.labour3 .sp1{
	color: #A29D9E;
	font-size: 18px;
}
.labour3 .bt{
	width: 100%;
	height: 50px;
	display: flex;
	margin-top: 5px;
	box-sizing: border-box;
	transition: all 0.1s;
	
}
.labour3 .bt_r{
	width: 70%;
	height: 44px;
	background-color: #D9D5D5;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.5s;
}
.labour3 .borders{
	border: 3px #0494F0 solid;
	border-radius: 8px;
	color: gold;

}
.labour3 .borders .bg{
	background-color: #8AE4E0;
	color: gold;

}
.labour3 .bg2{
	background-color: aquamarine;
	transform: rotateX(30deg);
	box-shadow: 0 5px 10px #000;
}
.jianshao{
	margin-top: 50px;

}
.navs{
	width: 100%;
	height: 50px;
	background-color:#E5E0E0;
}
.navs div{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #726E6E;
	font-size: 20px;
	cursor: pointer;
}
.box4{
	width: 100%;
	height: 2380px;
	border-top: 5px solid red;
	padding-top: 20px;
}
.box4 div{
	position: absolute;
	width: 45%;
	height: 400px;
	display: none;
	left: 25%;
}

.box4 .boxcss{
	display: block;
}



.bt1{
	width: 50%;
	height: 50px;
	background-color: red;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	color: white;
	border-radius: 15px;
	margin-left: 25%;
	transition: all 0.5s;
	margin-top: 10px;
	
}
.bt1:hover{
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	transform:scale(1.1);
	
}
.zfb{
	width: 90%;
	height: 500px;
	border: 1px solid #000000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
}
.zfb img{
	width: 100%;
	height: 100%;
}
.zfb .bt2{
	width: 30px;
	height:30px;
	font-size: 20px;
	background-color: red;
	position: absolute;
	right: 0;
	top: 0;
}
.box4 span{
	display: block;
	width: 50%;
	height: 50px;
	background-color: blanchedalmond;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}
.box4 span:hover{
	background-color: gold;
}
.box4 p{
	color: #938D8D;
	font-size: 30px;
	font-family: "萝莉体 第二版";
}
.footer{
	height: 60px;
	overflow: hidden;
	background-color: #DBD5D5;
	line-height:60px;
}
footer .container .row div {
	
}
.footer .container .row div a{
	font-size: 1em;
	color: #5C5757;
	
}


.top{
	position: fixed;
	right: 0;
	bottom: 40%;
}
.top div{
	font-size: 50px;
}


.adver{
	width: 200px;
	height: 305px;
	position: fixed;
	left: 0;
	bottom: 30%;
	opacity: 0;
}
.adver .bt5{
	position:absolute;
	top: 0;
	right:0;
	background-color: red;
	font-size: 20px;
}