@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: white;
}
.head {
	display: flex;
	height: 100px;
}

.left {
	width: 400px;
	height:100px;
	margin-left: 400px;
}
.left a{
	text-decoration: none;
}
.ji{
	font-family: "楷体", "萝莉体 第二版";
	font-size: 60px;
	position: relative;
	bottom: 25px;
	left: -15px;
	color: goldenrod;
}
.huanyi{
	font-size: 26px;
	position: relative;
	bottom: 30px;
	left: 20px;
	color: #000000;
	
}
.right {
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin-left: 800px;
	margin-top: 20px;
}
.right p{
	color:#C4BDBD;
}
.right a{
	color: red;
	text-decoration: none;
}
.hr1{
	border: 5px solid #E3E0E0;
	box-shadow: 0 1px 5px #C4BDBD;
}
.conter {
	width: 500px;
	height: 800px;
	margin: auto;
	margin-top: 100px;
	position: relative;
	overflow: hidden;
}

.ul {
	list-style-type: none;
	width: 1500px;
	display: flex;
	position: relative;
}

.li1 {
	width: 500px;
	height: 400px;
	position: relative;
}

.li2 {
	width: 500px;
	height: 400px;
	position: relative;
}
.li3 {
	width: 500px;
	height: 400px;
	position: relative;
}
.buzou_top1 {
	display: flex;
	color: #CCC8C8;
	margin-left: 15px;
}
.buzou_top1 .buzou_top1{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: green;
	margin-left: 0px;
}
.buzou_top1 .buzou_top2{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: #B5B0B0;
	background-color: white;
	border: 1px solid #C8C2C2;
	margin-left: 0px;
}
.buzou_top1 .buzou_top3{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: #B5B0B0;
	background-color: white;
	border: 1px solid #C8C2C2;
	margin-left: 0px;
}
.buzou_bottom1 span{
	font-size: 14px;
}
.buzou_bottom1 span:first-child{
	color: green;
}
.tel{
	width: 485px;
	height: 60px;
	margin-top: 50px;
	display: flex;
}
.tel .tel_l{
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
}
.tel .tel_r{
	width: 385px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
	font-size: 20px;
	color:#000000;
}
.tip{
	color: #B7B0B0;
	font-size: 15px;
}
.yanzhen{
	width: 485px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #D9D9D9;
	background-color: white;
	margin-top: 50px;
	font-size: 20px;
}
.next{
	width: 485px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #D9D9D9;
	background-color: red;
	color: white;
	margin-top: 50px;
	transition: all 1s;
	font-size: 30px;
}
.next:hover{
	background-color:aqua;
	transform: rotateX(10deg);
	box-shadow: 0 5px 20px #D9D9D9;
	color: black;
}
.buzou_top2 {
	display: flex;
	color: green;
	margin-left: 15px;
}
.buzou_top2 .buzou_top4{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: green;
}
.buzou_top2 .buzou_top5{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: green;
}
.buzou_top2 .buzou_top6{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: #B5B0B0;
	background-color: white;
	border: 1px solid #C8C2C2;
}
.buzou_bottom2 span{
	font-size: 14px;
}
.buzou_bottom2 span:first-child{
	color: green;
}
.buzou_bottom2 span:nth-child(2){
	color: green;
}
.buzou_top3 {
	display: flex;
	color: green;
	margin-left: 15px;
}
.buzou_top3 .buzou_top7{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: green;
}
.buzou_top3 .buzou_top8{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: green;
}
.buzou_top3 .buzou_top9{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	color: white;
	background-color: green;
}
.buzou_bottom3 span{
	font-size: 14px;
	color: green;
}
.fom {
	width: 500px;
	height: 450px;
}
.name{
	width: 485px;
	height: 60px;
	margin-top: 50px;
	display: flex;
}
.name .name_l{
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
}
.name .name_r{
	width: 385px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
	font-size: 20px;
	color: #BDBBBB
}
.tip2{
	color: #B7B0B0;
	font-size: 15px;
}


.password{
	width: 485px;
	height: 60px;
	margin-top: 50px;
	display: flex;
}
.password .password_l{
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
}
.password .password_r{
	width: 385px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
	font-size: 20px;
	color: #BDBBBB
}
.tip3{
	color: #B7B0B0;
	font-size: 15px;
}


.passwordtwo{
	width: 485px;
	height: 60px;
	margin-top: 50px;
	display: flex;
}
.passwordtwo .passwordtwo_l{
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
}
.passwordtwo .passwordtwo_r{
	width: 385px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
	font-size: 20px;
	color: #BDBBBB
}
.tip4{
	color: #B7B0B0;
	font-size: 15px;
}


.e_mail{
	width: 485px;
	height: 60px;
	margin-top: 50px;
	display: flex;
}
.e_mail .e_mali_l{
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
}
.e_mail .e_mali_r{
	width: 385px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border: 1px solid #BDBBBB;
	font-size: 20px;
	color: #BDBBBB
}
.tip5{
	color: #B7B0B0;
	font-size: 15px;
}
.ok{
	width: 500px;
	height: 300px;
	text-align: center;
	color: #B09126;
}
.ok .ml5{
	margin-top: 100px;
}
.kefu{
	width: 40px;
	height: 90px;
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 50%;
	background-color: #B6B9AA;
	border-radius: 5px;
	transition: all 0.5s;
}
.kefu a{
	text-decoration: none;
	color: white;
}
.kefu:hover{
	transform: rotateX(30deg);
}
.food{
	width: 100%;
	height: 80px;
	background-color:#D7D1D1;
	text-align: center;
	line-height: 80px;
}
.food a{
	text-decoration: none;
	color: white;
	transition: all 0.5s;
}
.food span{
	margin-left: 20px;
}
.food a:hover{
	text-decoration: underline;
	color: aqua;
}